body {
   
    font-family: sf_pro_display,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}
a{
    margin-left: 7px;
}

.container{
    padding: 0 3rem;
}

header{
    background-color:#F6F7F8;
    padding: 10px 0;
}
header a{
    color: grey;
    font-size: 13px;
    margin-right: 10px;
}
.header-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.header-left a:last-child {
    border: 1.5px solid #0056c1;
    border-radius: 40px;
    display: inline-block;
    font-weight: 500;
    padding: 6px 12px;
    color: #0056c1;
}
.header-left a:last-child:hover {
    background-color: #0056c1;
    color: #fff;
    text-decoration: none;
    transition: .4s;
}
.header-second{
    border-bottom: 1px solid #f1f1f1;
    margin: 1rem;
}
.header-right .right-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
   
}

.header-right .ferdi{
    display: none;
}
.header-right i{
    margin-right: 10px;
    
}
.header-right .right-end{
    color: grey;
}
.header-right .search-all{
    margin-right: 40px;
}
.header-right .lang{
    margin-right: 40px;
}
.nav a{
    color: grey;
    margin-right: 10px; 
   
}
.btn #bar {
    display: none;
}
.nav{
    margin-left: 3rem;
}
.nav-all{
    display: flex;
    justify-content: space-between;
    position: sticky;   
    top: 0;
    font-size: 20px;
    margin-right: 10px;
}
.navbar{
    display: flex;
    align-items: center;
}
.nav-all .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

}
.nav-all .btn a { 
    align-items: center;  
   color: blue;    
} 
.nav-all .btn i{
    color: blue; 
}
.header-info a{
    color: black;
    margin-right: 14px;
}
.nav a:first-child{
    color: black;
}
.nav a:hover {
    color: black;
    text-decoration: none;
    transition: .4s;
}
.nav-all.btn i{
   font-size: 25px;
}
@media(max-width:576px)
{
    .header-left{
        display:none;
    }
    .nav-all .logo{
        display:block;
    }
    .btn #circle ,a{
        display: none;
    }
    .header-info{
        display: none;
    }
    .nav{
        display: none;
    }
    .container{
        padding: 0 0;
    }
    #bar{
        color: grey;
        font-size: 3rem;
    }
    .header-right .ferdi{
        display: block;
        padding: 14px 27px;
        font-size: 17px;
    }
    .search-all span{
        display: none;
    }
    .header-right .right-end{
        align-items: center;
        justify-content: flex-end;
    }
    .header-right{
        display: flex;
     
    }
        
}